@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;600;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

#root {
  overflow: hidden;
}

body {
  margin: 0;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
